<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="icon" href="../../../../favicon.ico">-->
    <link href="../static/css/index.css" rel="stylesheet" type="text/css">
    <title>SignUp</title>
    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
</head>

<body class="text-center">
    {{msg}}
    <div id="container">

        <form id="loginForm" action="/toDoer/createaccount/" method="post" class="form-signin">
            <h1 class="h3 mb-3 font-weight-normal">Create an account</h1>
            <input type="text" placeholder="Firstname" class="form-control" required autofocus name="firstname">
            <input type="text" placeholder="Surname" class="form-control" required name="surname">
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required name="email">
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required name="password">
            <button class="btn btn-light btn-block" type="submit">Sign Up</button>
            <button class="btn btn-light btn-block" type="button" onclick="location.href='{% url 'login' %}'">Already have an account? Sign In</button>
        </form>
    </div>
</body>

</html>
