<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link href="../static/css/homepage.css" rel="stylesheet" type="text/css">-->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>

<body>
    <!--Container which holds the content for the body of the application-->
    <div class="container-fluid" id="container">
        <!-- Navigation Bar-->
        <div class="row" id="myNavBar">
            <div class="col-sm-7">
                <!--Search Bar with find and clear buttons-->
                <form class="form-inline" method="post" action="/searchEvents/" id="searchBar">
                    {% csrf_token %}
                    <input type="text" placeholder="Search List or Events" id="searchItem" class="form-control" name="search">
                    <button class="btn btn-sm btn-secondary" type="submit" id="find_button" form="searchBar">Find</button>

                </form>
                <form class="form-inline" method="post" action="/welcome/" id="returnbar">
                    {% csrf_token %}
                    <button class="btn btn-sm btn-secondary" type="submit" id="return">return</button>
                </form>
            </div>
            <div class="col-sm-3">
                <!--User options to edit settings / sign out-->
                <div class="btn-toolbar mb-2 mb-md-0" id="userOptions">
                    <div class="btn-group mr-2">
                        <button class="btn btn-sm btn-secondary">Welcome {{ first_name }}</button>
                        <button class="btn btn-sm btn-secondary" type="button" onclick="location.href='{% url 'logout' %}'">Logout</button>
                        <button class="btn btn-sm btn-secondary" type="button" onclick="settingsModal( '{{ first_name }}', '{{ last_name }}', '{{ username }}' )" id="settings" data-target="#settingsModal" data-toggle="modal">Settings</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Row that contains all task information-->
        <div class="row h-100">
            <div class="col-sm-12" id="Tasks">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <!-- Options to add new tasks/ share entire list-->
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <button class="btn btn-sm btn-outline-light" type="button" id="addTask" data-target="#addTaskModal" data-toggle="modal">Add Task</button>
                        </div>
                    </div>
                </div>

                <div id="board">

                    <div class="row">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Event date</th>
                                    <th>Event title</th>
                                    <th>start time</th>
                                    <th>end time</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for record in records %}
                                <tr>
                                    <td>{{ record.date | date:"Y-m-d" }}</td>
                                    <td>{{ record.event }}</td>
                                    <td>{{ record.start_time }}</td>
                                    <td>{{ record.end_time }}</td>
                                    <td>
                                        <input type="submit" class="btn" value="Edit" id="editEvent" data-target="#editEventModel" data-toggle="modal" onclick="editModal( '{{ record.id }}','{{ record.event }}')">
                                    </td>
                                    <td>
                                        <form method="post" action="/deleteEvents/">
                                            {% csrf_token %}
                                            <input type="hidden" value="{{ record.id }}" name="delete_val">
                                            <input type="submit" class="btn" value="Delete">
                                        </form>
                                    </td>
                                    <td>
                                        <input type="submit" class="btn" value="share" id="shareEvent" data-target="#shareTaskModal" data-toggle="modal" onclick="shareModal( '{{ record.id }}','{{ record.date |   date:'Y-m-d' }}','{{ record.event }}','{{ record.start_time}}','{{ record.end_time }}')">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Add Task Modal-->
    <div class="modal fade" id="addTaskModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"><b>Add Events</b></h2>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form action="/addEvents/" method="POST">
                        {% csrf_token %}
                        <h2 style="font-size:20px">Events:</h2>
                        <input type="text" name="Events" id="addTaskTitle" required>
                        <br>
                        <h2 style="font-size:20px">date:</h2>
                        <input type="date" id="predict-date" name="date" value="2021-01-01" style="font-size:20px">
                        <h2 style="font-size:20px">start time - end time:</h2>
                        <input type="time" id="predict-time" name="starttime" value="13:30" min="05:00" max="23:00" required style="font-size:20px">
                        <input type="time" id="predict-time" name="endtime" value="13:30" min="05:00" max="23:00" required style="font-size:20px">
                        <br>
                        <br>
                        <input type="submit" value="Add">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Edit Task Modal-->
    <div class="modal fade" id="editEventModel" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"><b>Edit Events</b></h2>
                    <p>{{ record.id }}</p>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form action="/editEvents/" method="POST" id="eventID">
                        {% csrf_token %}
                        <h2 style="font-size:20px">Events:</h2>
                        <input type="text" name="Events" id="editEventtitle" required>
                        <br>
                        <h2 style="font-size:20px">date:</h2>
                        <input type="date" id="eventdate" name="date" value="2021-01-01" style="font-size:20px">
                        <h2 style="font-size:20px">start time - end time:</h2>
                        <input type="time" id="starttime" name="starttime" value="13:30" min="05:00" max="23:00" required style="font-size:20px">
                        <input type="time" id="endtime" name="endtime" value="13:30" min="05:00" max="23:00" required style="font-size:20px">
                        <input type="hidden" name="ID" id="eventttID" required>
                        <br>
                        <br>
                        <input type="submit" value="Update" id="eventID">

                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Share Events Modal-->
    <div class="modal fade" id="shareTaskModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"><b>Share Events</b></h2>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <form action="/shareEvents/" method="POST" id="eventID">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-3">Share with:</div>
                            <div class="col-sm-9">
                                <input type="email" name="shareuser" id="shareUser" placeholder="Email address of share recipient">
                                <br>
                                <br>
                            </div>
                        </div>
                        <input type="hidden" name="shareeventsID" id="shareeventsID">
                        <input type="hidden" name="shareeventsdate" id="shareeventsdate">
                        <input type="hidden" name="shareeventstitle" id="shareeventstitle">
                        <input type="hidden" name="shareeventsstarttime" id="shareeventsstarttime">
                        <input type="hidden" name="shareeventsendtime" id="shareeventsendtime">
                        <input type="submit" value="Share" data-dismiss="#shareTaskmodal">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!--Settings Modal-->
    <div class="modal fade" id="settingsModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title"><b>Settings</b></h2>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <form action="/settingsInfo/" id="settingsForm" method="POST" csrf-token="{{ csrf_token }}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-3">Firstname:</div>
                            <div class="col-sm-9">
                                <input type="text" name="fname" id="settingsFName" required>
                                <br>
                                <br>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">Surename:</div>
                            <div class="col-sm-9">
                                <input type="text" name="sname" id="settingsSName" required>
                                <br>
                                <br>
                            </div>
                        </div>
                        <input type="hidden" name="email" id="settingsEmail">
                        <input type="submit" value="Update" data-dismiss="#settingsModal">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" id="footer"></div>
    </div>



    <script type="text/javascript" src="../static/js/my_jquery_functions.js" charset="UTF-8"></script>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>



</body>

</html>
